body {
    font-family: "Helvetica", sans-serif;
    background-color: #F4F1EA;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    color: #A52A2A;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

h1 {
    font-size: 36px;
    color: #A52A2A;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #800080;
    font-size: 16px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #A52A2A;
    text-decoration: underline;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #A52A2A;
    border-radius: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    margin-right: 10px;
}

.search-bar button {
    background-color: #A52A2A;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.search-bar button:hover {
    background-color: #800080;
}

main {
    padding: 40px 50px;
}

h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: black;
}

.book-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.book-card {
    display: flex;
    border: 1px solid #A52A2A;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 0;
    width: 48%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
}

.book-card img {
    width: 150px;
    height: auto;
    display: block;
    margin-right: 20px;
}

.book-card .book-description {
    flex: 1;
    font-family: "Helvetica", sans-serif;
    color: #000000;
    font-size: 20px;
}

.book-card h3 {
    font-weight: bold;
    font-size: 18px;
    color: #A52A2A;
}

.book-card p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.book-card button {
    background-color: #A52A2A;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.book-card button:hover {
    background-color: #800080;
}

button {
    background-color: #A52A2A;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #800080;
}

footer {
    background-color: rgba(244, 241, 234, 0.8);
    font-family: "Helvetica", sans-serif;
    color: #000000;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.footer-section {
    width: 48%;
}

.footer-section h4 {
    font-size: 18px;
    color: black;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.footer-section ul li {
    display: inline-block;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
    color: #800080;
}

.footer-section ul li i {
    margin-right: 10px;
    color: black;
}

.footer-section ul li i:hover {
    color: #800080;
}

@media screen and (min-width: 1024px) {
    .book-card {
        width: 48%;
    }
    footer {
        background-color: rgba(244, 241, 234, 0.8);
    }
}

@media screen and (max-width: 700px) {
    .book-container {
        flex-direction: column;
        align-items: center;
    }

    .book-card {
        width: 90%;
        margin: 10px 0;
    }

    .footer-section {
        flex-direction: column;
        gap: 20px;
    }

    .footer-section .section {
        align-items: center;
    }
    footer {
        background-color: rgba(244, 241, 234, 0.8);
    }
}
